This notebook contains:

01) Merging dataframes

02) Exporting dataframes in pickle format

01. Starting Main Task 4.6 - Second notebook

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Establishing a path to import data frames
path = r'C:\Users\Paola\Desktop\Shaul\Data\CF\August-2023 Instacart Basket Analysis'

In [3]:
# Checking path
path

'C:\\Users\\Paola\\Desktop\\Shaul\\Data\\CF\\August-2023 Instacart Basket Analysis'

02. Importing main Data set

In [6]:
# Importing 'orders_products_combined.pkl' data set
df_ords_prods = pd.read_pickle(os.path.join(path, '2-Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [7]:
# Checking it is the same df as last notebook
df_ords_prods.shape

(32434489, 13)

In [8]:
# Checking columns
df_ords_prods.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,7.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,7.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,7.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,7.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,7.0,26405,5,0,both

03. Importing second  Data set

In [12]:
# Importing 'products_checked.csv' data set
df_prods = pd.read_csv(os.path.join(path, '2-Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [13]:
# Checking columns
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
# Checking Shape
df_prods.shape

(49672, 6)

04. Merging the dataframes => the 'key' in both frames is the 'product_id' column

In [30]:
df_merged = df_ords_prods.merge(df_prods, on = 'product_id', how = 'outer')

In [31]:
df_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0.0,0.0,2539329.0,1.0,prior,1.0,2.0,8.0,7.0,196,1.0,0.0,both,195.0,Soda,77.0,7.0,9.0
1,1.0,1.0,2398795.0,1.0,prior,2.0,3.0,7.0,15.0,196,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0
2,2.0,2.0,473747.0,1.0,prior,3.0,3.0,12.0,21.0,196,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0
3,3.0,3.0,2254736.0,1.0,prior,4.0,4.0,7.0,29.0,196,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0
4,4.0,4.0,431534.0,1.0,prior,5.0,4.0,15.0,28.0,196,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0

In [32]:
#  Checking Shape
df_merged.shape

(32435070, 18)

In [33]:
# Checking values
df_merged['_merge'].value_counts()

both          32435059
left_only            0
right_only           0
Name: _merge, dtype: int64

05. Exporting new dataframe to pickle

In [34]:
df_merged.to_pickle(os.path.join(path, '2-Data','Prepared Data', 'orders_products_merged.pkl'))