This notebook contains the following:

01) Learning how to merge dataframes

02) Exporting data in 'pickle' format

01. Starting Main Task 4.6

In [6]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [7]:
# Establishing a path to import data frames
path = r'C:\Users\Paola\Desktop\Shaul\Data\CF\August-2023 Instacart Basket Analysis'

In [8]:
# Checking path
path

'C:\\Users\\Paola\\Desktop\\Shaul\\Data\\CF\\August-2023 Instacart Basket Analysis'

02. Importing data sets

In [9]:
# Importing 'orders_checked.csv' data set
df_ords = pd.read_csv(os.path.join(path, '2-Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [10]:
# Importing 'orders_products_prior.csv' data set
df_ords_prior = pd.read_csv(os.path.join(path, '2-Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [11]:
# Checking new data frame dimensions
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
# Checking df_ords_prior for mixing data
for col in df_ords_prior.columns.tolist():
  weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords_prior[weird]) > 0:
    print (col)

No mixed data found.

In [13]:
# Viewing the missing values
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

No missing values

In [14]:
# Looking for duplicates
df_dups = df_ords_prior[df_ords_prior.duplicated()]

In [15]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

No duplicates found.

In [8]:
# Checking orders_checked data frame dimensions
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,7.0
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [10]:
# Checking df_ords_prior shape
df_ords_prior.shape

(32434489, 4)

In [11]:
# Checking df_ords shape
df_ords.shape

(3421083, 9)

03. Merging data frames

In [12]:
# Proceeding to merge both data frames => df_ords_prior and df_ords. Using 'inner' function.
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [14]:
# Checking results
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,7.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,7.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,7.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,7.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,7.0,26405,5,0,both

In [17]:
# Checking values
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

04. Exporting new data frame to pkl format

In [18]:
df_merged_large.to_pickle(os.path.join(path, '2-Data','Prepared Data', 'orders_products_combined.pkl'))

In [20]:
# Checking new dataframe shape
df_merged_large.shape

(32434489, 13)