This notebook contains the following:
    
01) writing a 'define' function to create a variable

02) using the .loc function to create a variable

03) using the loop function to create a variable

01. starting new notebook

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Practicing example exercise 4.7
# Define function
def add_num (x, y):
    sum = x + y
    return sum

In [3]:
add_num (9,11)

20

02. Establishing path and importing dataframe

In [5]:
# Establishing a path to import data frames
path = r'C:\Users\Paola\Desktop\Shaul\Data\CF\August-2023 Instacart Basket Analysis'

In [6]:
path

'C:\\Users\\Paola\\Desktop\\Shaul\\Data\\CF\\August-2023 Instacart Basket Analysis'

03. Working first steps of Exercise 4.7 (reading part)

In [7]:
# Importing 'orders_products_merged.pkl' data set
df_ords_prods = pd.read_pickle(os.path.join(path, '2-Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [8]:
# Creating subset => first one million rows
df = df_ords_prods[:1000000]

In [9]:
df.shape

(1000000, 18)

In [10]:
# Writing the 'define' function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [11]:
# Applying the function
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Paola\AppData\Local\Temp\ipykernel_9892\2918228003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [12]:
# Checking the values
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [13]:
# Checking the most expensive product in the subset data frame
df['prices'].max()

14.8

04. Second part of 4.7 Exercise => .loc() function

In [14]:
# Establishing conditions for .loc() function
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\Paola\AppData\Local\Temp\ipykernel_9892\2794684828.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [15]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [16]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [17]:
# Checking results
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

05. Searching through the entire dataframe

In [19]:
df_ords_prods.loc[df_ords_prods['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [20]:
df_ords_prods.loc[(df_ords_prods['prices'] <= 15) & (df_ords_prods['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [21]:
df_ords_prods.loc[df_ords_prods['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [22]:
# Checking results and values
df_ords_prods['price_range_loc'].value_counts()

Mid-range product     21860868
Low-range product     10126324
High-range product      417678
Name: price_range_loc, dtype: int64

06. Working on for loops

In [23]:
df_ords_prods['orders_day_of_week'].value_counts(dropna = False)

0.0    6209808
1.0    5665951
6.0    4500391
2.0    4217868
5.0    4209603
3.0    3844175
4.0    3787263
NaN         11
Name: orders_day_of_week, dtype: int64

In [24]:
# Writing for loop command
result = []

for value in df_ords_prods["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [25]:
df_ords_prods['busiest_day'] = result

In [26]:
df_ords_prods['busiest_day'].value_counts(dropna = False)

Regularly busy    22437999
Busiest day        6209808
Least busy         3787263
Name: busiest_day, dtype: int64

07. Starting Task 4.7 from question 2

In [27]:
# Starting Task 4.7 from question 2 => looking for busiest days
result_v2 = []

for value in df_ords_prods["orders_day_of_week"]:
  if value == 0 or value ==1:
    result_v2.append("Busiests days")
  elif value == 4 or value == 3:
    result_v2.append("Slowest days")
  else:
    result_v2.append("Regularly busy")

In [28]:
# Assigning results to a new column
df_ords_prods['Busiest days'] = result_v2

In [29]:
# Checking values of new column
df_ords_prods['Busiest days'].value_counts(dropna = False)

Regularly busy    12927873
Busiests days     11875759
Slowest days       7631438
Name: Busiest days, dtype: int64

I checked the results of this new column with the frequency values above and they match. The loop has been executed correctly.

In [30]:
# Question 4 => busiest hour of the day
df_ords_prods['order_hour_of_day'].value_counts(dropna = False)

10.0    2764476
11.0    2738647
14.0    2691598
15.0    2664583
13.0    2663346
12.0    2620898
16.0    2537506
9.0     2456751
17.0    2089510
8.0     1719991
18.0    1637956
19.0    1259416
20.0     977049
7.0      891951
21.0     796379
22.0     634743
23.0     402621
6.0      290796
0.0      218951
1.0      115787
5.0       88064
2.0       69435
4.0       53284
3.0       51321
NaN          11
Name: order_hour_of_day, dtype: int64

In [36]:
# Starting Task 4.7, question 4 => looking for busiest hours

period = []

for value in df_ords_prods["order_hour_of_day"]:
  if value in [10,11,14,15,13,12,16,9,17]:
    period.append("Most orders")
  elif value in [23,6,0,1,5,2,4,3]:
    period.append("Fewest orders")
  else:
    period.append("Average orders")

In [37]:
# Assigning the variable to a new column
df_ords_prods['Busiest hours'] = period

In [39]:
# Printing frequency values
df_ords_prods['Busiest hours'].value_counts(dropna = False)

Most orders       23227315
Average orders     7917496
Fewest orders      1290259
Name: Busiest hours, dtype: int64

08. Exporting new file to Pickle

In [40]:
df_ords_prods.to_pickle(os.path.join(path, '2-Data','Prepared Data', 'orders_products_newvariables.pkl'))